<p style="text-align:center">

    <img ng-src="img/icon.png" width="10%">
</p>

<article>
    <h2>Calendar App</h2>
    <p>A simple app developed using the JavaScript with MongoDB, Express, AngularJS, and Node.js.</p>

    <h5>What this app does:</h5>
    <ul>
        <li>Allows you to add new events as well as edit them.</li>
        <li>Allows you to search for events by either event's title or date range.</li>
        <li>Validates all events on the UI before they're persisted. The validation process will make sure that the
            required fields are filled in with valid data.</li>
        <li>Allows you to remove events.</li>
    </ul>
</article>

<br>

<div class="row">
    <div class="col-md-3">
        <h2>
            <strong>M</strong>ongoDB</h2>
        <p>
            <a target="_blank" href="https://www.mongodb.com/" rel="noopener">
                <img style="width: 50%;" ng-src="img/mongodb.png" />
            </a>
        </p>
    </div>
    <div class="col-md-3">
        <h2>
            <strong>E</strong>xpress</h2>
        <p>
            <a target="_blank" href="https://expressjs.com/" rel="noopener">
                <img style="width: 50%;" ng-src="img/express.png" />
            </a>
        </p>
    </div>
    <div class="col-md-3">
        <h2>
            <strong>A</strong>ngularJS</h2>
        <p>
            <a target="_blank" href="https://angularjs.org/" rel="noopener">
                <img style="width: 50%;" ng-src="img/angular.png" />
            </a>
        </p>
    </div>
    <div class="col-md-3">
        <h2>
            <strong>N</strong>ode.js</h2>
        <p>
            <a target="_blank" href="https://nodejs.org/" rel="noopener">
                <img style="width: 50%;" ng-src="img/node.png" />
            </a>
        </p>
    </div>
</div>





<div>
    <h3>Team Members</h3>
    <h6>G.M.Jitendar Kumar RA2132241020037</h6>
    <h6>D.Ganesh Narayanan RA2132241020041</h6>
    <h6>M.Maria Antony Alex RA2132241020055</h6>
    <h6>K.Narayana Moorthy RA2132241020056</h6>
</div>

<div class="alert alert-dark" role="alert">
    <strong>Note:</strong> Please report bugs
    <a style="margin-left: 1px;" href="https://github.com/jithu02/Event-Scheduler/issues">here</a>
</div>
